<nav class="navbar navbar-default" role="navigation" style="background:#1ABC9C;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" data-no-turbolink="true">CloudCRM</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group" ng-app="App" ng-controller="AppCtrl as app">
							<button type="button" ng-click="app.open()" class="btn btn-raised btn-large btn-success ng-scope">
							Enter Customer Answers!
							</button>						
					</div>
				</form>
					<li><a href="/customers" data-no-turbolink="true">Manage Customers</a></li>
					<li><a href="/questions" data-no-turbolink="true">Set Questions</a></li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/macroeconomic_variables" data-no-turbolink="true">Macroeconomic Variables</a></li>
							<li><a href="/customer_field_values" data-no-turbolink="true">Customer Field Values</a></li>
							<li><a href="/questions" data-no-turbolink="true">Questions</a></li>
							<li><a href="/customers" data-no-turbolink="true">Customers</a></li>
							<li><a href="/countries" data-no-turbolink="true">Countries</a></li>
							<li class="divider"></li>
							<li><a href="/collect" data-no-turbolink="true">DataCollector</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)">About</a></li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Logout <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)">Action</a></li>
							<li><a href="javascript:void(0)">Another action</a></li>
							<li><a href="javascript:void(0)">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="javascript:void(0)">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>