<h2>Rockin with ngDialog</h2>
<script type="text/ng-template" id="popupTmpl">
    <h1>Template heading</h1>
    wrong wrong
    <h3> what just happen? what happen man? </h3>
    <form>

        <div class="form-group">

            <label for="inputEmail">Email</label>

            <input type="email" class="form-control" id="inputEmail" placeholder="Email">

        </div>

        <div class="form-group">

            <label for="inputPassword">Password</label>

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </div>

        <div class="checkbox">

            <label><input type="checkbox"> Remember me</label>

        </div>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>


</script>

<div ng-app="collectApp" ng-controller="MainCtrl">
	<input type="text" ng-model="writ">Haha, did you say {{writ}}?! uy!!
	<button class="btn btn-lg btn-success" type="submit" ng-click="clickToOpen()">Kwaana Dembo!</button>
</div>